$primary-text-color: #222;
$white:#fff;
$menu-item-color: rgba(0,0,0,.6);
$menu-item-font-weight: 500;
$menu-box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0,0,0,.1);

.navigation-container.scrolling{
  background: #222; 
  padding-top: 8px;
  padding-bottom: 8px;
}
.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.1)), to(transparent));
  background: linear-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,.1)), to(transparent));
  transition: all .5s;
  line-height: 1;
  /*box-shadow: $menu-box-shadow;*/
  .navigation-main {
    .brand {
      a {
        color: $white;
      }
      .image {
        width: auto;
        height: 32px; 
      }
    }
    .nav-links {
      display: none;
      .item {
        color: $white;
        font-weight: $menu-item-font-weight;
        &:hover, &.active {
          color: $primary-text-color;
        }
      }
    }
    .navbars {
      display: block;
      color: $primary-text-color;
      margin-right: -1.5rem;
    }
  }
  .navigation-dropdown {
    .nav-links {
      .item {
        display: block;
        color: $menu-item-color;
        font-weight: $menu-item-font-weight;
        &:hover, &.active {
          color: $primary-text-color;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  .navigation-container {
    .navigation-main {
      .nav-links {
        display: unset;
      }
      .navbars {
        display: none;
      }
    }
    .navigation-dropdown {
      display: none;
    }
  }
} 